



.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;

}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}


.centerScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}





.textPara{
  font: normal normal normal 16px/1.5em "", Helvetica, Arial, sans-serif;
}
